<link rel="stylesheet" href="/static/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Neonderthaw&family=Yellowtail&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

<!-- Header  -->

<h1 id="ML"> Electric Vehicle Range Prediction </h1>
<h2 id="enter"> Enter the below details accurately to get desired Results: </h2>
<p id="info">For Drive: Front:0 AWD:1 Rear:2</p>
<br>

<!-- Form start -->
<!-- CHANGES -->
<!--always add action and method to forms-->
<!--let all input tags gave a name attribute, we need it for request.form-->
<!-- Add id and make field, linear regression needs 25 inputs but you had only 23 input fields-->
<div id="form">
    <form class="login" action="{{ url_for('predict') }}" method="post">
        <div id="f">

            <!-- Input Acceleration -->
            <div class="input">
                <label for="inputAcceleration" class="form-label"></label>
                <input type="number" class="form-control" name="inputAcceleration" placeholder="Acceleration">
            </div>

            <!-- Input TopSpeed -->
            <div class="input">
                <label for="inputTopSpeed" class="form-label"></label>
                <input type="number" class="form-control" name="inputTopSpeed" placeholder="Top Speed">
            </div>

            <!-- Input TotalPower -->
            <div class="input">
                <label for="inputTotalPower" class="form-label"></label>
                <input type="number" class="form-control" name="inputTotalPower" placeholder="Total Power">
            </div>

            <!-- Input TotalTorque -->
            <div class="input">
                <label for="inputTotalTorque" class="form-label"></label>
                <input type="number" class="form-control" name="inputTotalTorque" placeholder="Total Torque">
            </div>

            <!-- Input Drive -->

            <!-- <select class="form-control" aria-placeholder="Drive" id="op">
                <option value="" disabled selected>Drive</option>
                <option value="1">Front</option>
                <option value="0">Rear</option>
                <option value="2">AWD</option>
            </select> -->


             <div class="input">
                <label for="inputDrive" class="form-label"></label>
                <input type="number" class="form-control" name="inputDrive" placeholder="Drive">
            </div>

            <!-- Input BatteryCapacity -->
            <div class="input">
                <label for="inputBatteryCapacity" class="form-label"></label>
                <input type="number" class="form-control" name="inputBatteryCapacity" placeholder="Battery Capacity">
            </div>

            <!-- Input ChargePower -->
            <div class="input">
                <label for="inputChargePower" class="form-label"></label>
                <input type="number" class="form-control" name="inputChargePower" placeholder="Charge Power">
            </div>

            <!-- Input ChargeSpeed -->
            <div class="input">
                <label for="inputChargeSpeed" class="form-label"></label>
                <input type="number" class="form-control" name="inputChargeSpeed" placeholder="Charge Speed">
            </div>

            <!-- Input FastChargeSpeed -->
            <div class="input">
                <label for="inputFastChargeSpeed" class="form-label"></label>
                <input type="number" class="form-control" name="inputFastChargeSpeed" placeholder="Fast Charge Speed">
            </div>

            <!-- Input Length -->
            <div class="input">
                <label for="inputLength" class="form-label"></label>
                <input type="number" class="form-control" name="inputLength" placeholder="Length">
            </div>

            <!-- Input Width -->
            <div class="input">
                <label for="inputWidth" class="form-label"></label>
                <input type="number" class="form-control" name="inputwidth" placeholder="Width">
            </div>

            <!-- Input Height -->
            <div class="input">
                <label for="inputHeight" class="form-label"></label>
                <input type="number" class="form-control" name="inputHeight" placeholder="Height">
            </div>

            <!-- Input WheelBase -->
            <div class="input">
                <label for="inputWheelBase" class="form-label"></label>
                <input type="number" class="form-control" name="inputWheelBase" placeholder="Wheelbase">
            </div>

            <!-- Input GrossVehicleWeight -->
            <div class="input">
                <label for="inputGrossVehicleWeight" class="form-label"></label>
                <input type="number" class="form-control" name="inputGrossVehicleWeight"
                    placeholder="Gross Vehicle Weigth">
            </div>

            <!-- Input MaxPayload -->
            <div class="input">
                <label for="inputMaxPayload" class="form-label"></label>
                <input type="number" class="form-control" name="inputMaxPayload" placeholder="Maximum Payload">
            </div>

            <!-- Input CargoVolume -->
            <div class="input">
                <label for="inputCargoVolume" class="form-label"></label>
                <input type="number" class="form-control" name="inputCargoVolume" placeholder="Cargo Volume">
            </div>

        </div>


        <div id="btn">
            <button type="submit" class="btn btn-primary">SUBMIT</button>
        </div>

</div>
</form>
</div>


<br>
<br>

<div id="res">
    {{ prediction_text }}
</div>